<div style="clear: both;">
  <div style="float: left; margin-right: 2em; width: 10em">
    <img src="{{ include.image_path }}" width="100%" alt="">
  </div>
  <div>
     <!-- <h6 style="font-size:17px;">{{ include.title }}</h6> -->
    <p style="font-size:17px;"><b>{{ include.title }}</b></p>
     <p style="font-size:17px; font-weight:700;">{{ include.title }}</p>
    <p style="font-size:16px; margin-top: -1em;">{{ include.description }}</p>
    <!-- {{ include.description | markdownify }} -->
  </div>
</div>
